@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row; /* Change to row */
  align-items: center; /* Align items vertically */
  border-radius: 10px;
  background: linear-gradient(180deg, #940470 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #070db6;
  padding: 18px 24px;
  max-width: 100%; /* Adjust maximum width */
  margin-bottom: 20px; /* Add margin bottom for spacing */
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.image {
  margin-right: 20px;
  flex: 0 0 auto;
  max-width: 100%; /* Ensure image doesn't exceed container width */
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: flex-start;
    padding: 18px;
  }

  .image {
    margin-right: 0;
    margin-bottom: 15px;
    max-width: 100%; /* Adjust image width for smaller screens */
  }

  .title {
    font-size: 22px;
  }

  .link {
    font-size: 18px;
    padding: 6px 16px;
  }
}


.title {
  font-size: 25px;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}

.title:hover {
  transform: translateX(10px);
}

.description {
  font-size: 25px;
  font-weight: 400;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: transparent;
  padding: 8px 22px; 
  margin-left: 10px; 
}

@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #940470 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #070db6;
  padding: 18px 24px;
  max-width: 100%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.image {
  margin-right: 20px;
  flex: 0 0 auto;
}

.title {
  font-size: 25px;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}

.title:hover {
  transform: translateX(10px);
}

.description {
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: transparent;
  padding: 8px 22px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: flex-start; /* Align items to the start */
    padding: 18px; /* Adjust padding for better spacing */
  }

  .image {
    margin-right: 0; /* Remove margin between image and text */
    margin-bottom: 15px; /* Add margin bottom for spacing */
  }

  .title {
    font-size: 22px; /* Adjust font size for smaller screens */
  }

  .link {
    font-size: 18px; /* Adjust font size for smaller screens */
    padding: 6px 16px; /* Adjust padding for smaller screens */
  }
}

