@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 10px;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  typing 3s steps(12),
  cursor .4s step-end infinite alternate;
}

@keyframes cursor{
  50%{ border-color: transparent}
}

@keyframes typing {
  from { width: 0}
  
}
.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  overflow: hidden; 
  animation: breathing 2s infinite alternate;
}

@keyframes breathing {
  0% { transform: scale(1); } 
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); } 
}

.contactBtn {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  background-image: linear-gradient(
    90deg,
    rgb(148, 21, 148) 0%,
    rgb(66, 37, 196) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  flex-wrap: wrap;
  flex-direction: column;
}

.contactBtn:hover {
  background-size: 100% 100%;
}


.heroImg {
  width: 40%;
  z-index: 1;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out;
}

.heroImg:hover {
  transform: scale(1.1);
}
.topBlur, .bottomBlur {
  position: absolute;
  border-radius: 764px;
  filter: blur(100px);
  z-index: 0;
  animation: breathing 1s infinite alternate;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 950px;
  min-height: 350px; 
  top: -128px;
  left: -10vw;
  background: rgb(143, 3, 106);
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 950px;
  min-height: 250px; 
  top: 246px;
  right: -25vw;
  background: rgba(3, 73, 205, 0.826);
}

@keyframes breathing {
  0% { transform: scale(1); } 
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); } 
}


@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.5em; /* Adjust font size for smaller screens */
    letter-spacing: 8px; /* Adjust letter spacing for smaller screens */
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5em; /* Further adjust font size for even smaller screens */
    letter-spacing: 6px; /* Further adjust letter spacing for even smaller screens */
    margin-bottom: 15px; /* Further adjust margin for even smaller screens */
  }
}